.auth-container {
  max-width: 600px;
  width: 95%;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.auth-container h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.auth-container input {
  width: 100%;
  padding: 20px;
  margin: 12px 0;
  border: 1px solid #aaa;
  margin-top:15px;
  border-radius: 6px;
  font-size: 22px;
}

/* ✅ Green styling for Register page */
.register-container button {
  width: 100%;
  padding: 20px;
  background-color: #28a745 !important;
  color: white;
  font-size: 25px;
  margin-top:15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-container button:hover {
  background-color: #218838;
}

.register-container p {
  font-size: 26px;
  text-align: center;
  margin-top: 21px;
}

.register-container a {
  color: #28a745;
  text-decoration: none;
  font-weight: 500;
}

.register-container a:hover {
  text-decoration:none;
  color: #1e7e34;
}
